h1{
	color:#881ABE;
	font-family: Geneva,Tahoma,Verdana,sans-serif;;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 1000;
	line-height: 26.4px;
}
p{
	color:#faa;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px; 
	width: 100px;
}